.small-banner{margin-bottom:40px;}
.small-banner .banner{padding:20px; color:#2F383D; display:block; width:100%; border-right: 1px solid #D5D5D5;}
.small-banner .banner a{opacity:0.9;color:#2F383D; text-align: center; font-weight: 500; display:inline-block;text-decoration:none;}
.small-banner .banner a:hover{color:#2F383D;opacity:1;}
.small-banner .banner .title{font-weight:300;font-size:22px;line-height:27px;text-transform:uppercase;margin-bottom:5px;}